%table.table.table-bordered.table-striped
  %h1 ORDERS
  !!!
  %html
    %head
    
    %body
      %h2
        Welcome  #{@user.username}
      %br  
        Welcome   #{@user.email}
      %br
      %p
        %h4  
        your Price is: #{@user.price_in_cents}.
        %br

        your Product is: #{@user.listing.title}.
        %br 
      %br
     
      %p
        To login to the site, 
        just follow this link: #{@url}.
      %p 
      Thanks for joining and have a great day!